{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% include "home/h_hero.html" %}
{% include "home/h_intro.html" %}
{% include "components/mrq1.html" %}
{% include "home/h_prgms_srvcs.html" %}
{% include "home/h_sldr.html" %}
{% include "home/h_prdcts.html" %}
{% include "home/h_faq.html" %}
{% include "components/mrq2.html" %}
{% include "home/h_why_chs.html" %}
{% include "home/h_fdbck.html" %}
{% include "home/h_blg.html" %}
{% include "home/h_appointment.html" %}

{% endblock %}
    