{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% include "homepage/hero.html" %}
{% include "homepage/intro.html" %}
{% include "homepage/marquee1.html" %}
{% include "homepage/core_programs.html" %}
{% include "homepage/result.html" %}
{% include "homepage/products.html" %}
{% include "homepage/faq.html" %}
{% include "homepage/marquee2.html" %}
{% include "homepage/proposition.html" %}
{% include "homepage/feedback.html" %}
{% include "homepage/blog.html" %}
{% include "homepage/appointment.html" %}

{% endblock %}
